@use '../abstract/variables';
@use '../abstract/mixins';

.container {
      max-width: 1500px;
      margin: 0 auto;
}

.btn-default{
@include mixins.button(variables.$main1,variables.$main2,variables.$white,3.5rem,18px,.2rem,0,2rem)
}     
.btn-dark{
@include mixins.button(variables.$blackDark, variables.$blackDark, variables.$white, 3.5rem, 18px, .2rem, 0, 2rem);
}
.btn-white{
      @include mixins.button(variables.$white, variables.$white, variables.$black, 3.5rem, 18px, .2rem, 0, 2rem);
}

.btn-dark-sm{
@include mixins.button(variables.$blackDark, variables.$blackDark, variables.$white, 3.5rem, 16px, 8px, 0, .9rem);
}

.pr{
position: relative;
}

.group{
      margin-bottom: 1.3rem;

      &__control{
            display: block;
            width: 100%;
            border-radius:.4rem;
            outline: none;
            font-size:1.6rem;
            border: 1Px solid variables.$silver;
            height: 4rem;
            padding:0 2rem;
      }
}

::placeholder{
      color: variables.$blackDark;
      font-size: 1.2rem;
}

.flex{
display: flex;
justify-content: space-between;
align-items: center;
}

.p-15{
      padding: 15px;
}

.mr-minus-15{
      margin-right: -15px;
}


.ml-minus-15 {
      margin-left: -15px;
}

.heading{
      margin-bottom: 1.5rem;
      font-size:1.5rem;
      font-weight:400;
      color:variables.$main1;
      transform: rotate(-5deg);
      display: inline-block;
}

.text-right{
text-align: right;
}

