@mixin position($position, $top, $left, $bottom, $right, $width, $height) {
      position: $position;
      top: $top;
      left: $left;
      bottom: $bottom;
      right: $right;
      width: $width;
      height: $height;
}

@mixin  align($flex,$justify-content,$align-items,$height){
      display: $flex;
      align-items: $align-items;
      justify-content: $justify-content;
      height: $height;
}



@mixin  button($color1,$color2,$textColor,$height,$fontSize,$bdr,$paddingVertical,$paddingHorizontal){
      background: linear-gradient(to right, $color1, $color2);
      color: $textColor;
      text-decoration: none;
      height: $height;
      line-height: 3.5rem;
      display: inline-block;
      font-size: $fontSize;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: $bdr;
      padding: $paddingVertical $paddingHorizontal;
      text-transform: uppercase;
}