@use "../abstract/mixins";
@use "../abstract/variables";

.header {
      width: 100%;
      height: 100vh;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 77%, 72% 83%, 13% 96%, 0 100%, 0% 20%);
      &__logo{
            @include mixins.position(absolute, 3rem, 0, null, null, null, null);
            z-index:9999;
            img{
                  width: 15rem;
                  height: auto
            }
      }
      &__video {
            @include mixins.position(absolute, 0, 0, null, null, 100%, 100%);
            overflow: hidden;
            }
      &__contents {
            @include mixins.position(absolute, 0, 0, 0, 0, 100%, 100%);
            background-color: rgba($color: #000000, $alpha: 0.5);

            &__text{
                  @include mixins.align(flex,center,center,100vh);
                  &__child{
                        &__h1{
                              color:variables.$white;
                              text-transform: uppercase;
                              font-weight: 900;
                              font-size: 4rem;
                              line-height: 2.7rem;
                        }
                        &__p{
                              margin-top: 8px;
                              color: variables.$white;
                              font-size: 16px;
                        }
                        &__link{
                              margin-top: .8rem;
                        }
                  }
            }

      }

}